body { background-color: #808080 }
	img { border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  }
  img:hover {
    webkit-transform: scale(1.05);
    moz-transform: scale(1.05);
    ms-transform: scale(1.05);
    o-transform: scale(1.05);
    transform: scale(2);
    webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}
  
 